# 排除比赛资料 
25三创赛资料/ 
 
# Python 
__pycache__/ 
*.py[cod] 
venv/ 
 
# Jupyter 
.ipynb_checkpoints 
 
# 系统文件 
.DS_Store 
Thumbs.db 
 
# VSCode 
.vscode/settings.json 

#opencode
opencode.json

# 结果报告
reports/